---
import BaseLayout from "../layouts/BaseLayout.astro";
const identity = {
    firstName: 'Rick',
    lastName: 'Yentzer',
    occupation: 'Web Developer/Designer',
    country: 'USA',
    hobbies: ['coding', 'reading my bible', 'disc golf']
}

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro', 'PHP'];
const hobbyColor = 'salmon';
---

<BaseLayout pageTitle="About Astro">
    <h1>Whoami:</h1>
    <p>My name is {identity.firstName} {identity.lastName}.</p>
    <p>I live in the {identity.country} and work as a {identity.occupation}.</p>
    <p>My hobbies include: {identity.hobbies.length >= 2 &&
            <span><em class="hobby">{identity.hobbies[0]}</em> and <em>{identity.hobbies[1]}</em></span>}</p>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) =>
                <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>
